/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html {
	color-scheme: light dark;
	@include mat.theme(
		(
			color: (
				primary: mat.$cyan-palette,
				tertiary: mat.$orange-palette
			),
			typography: Roboto,
			density: 0
		)
	);
	@include mat.system-classes();
}

body {
	background: var(--mat-sys-surface);
	color: var(--mat-sys-on-surface);
}
html,
body {
	height: 100vh;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}
$navbar-height: 56px;
.page-container {
	display: block;
	padding: 1rem;
	width: calc(100vw - 2rem);
	height: calc(100vh - $navbar-height);
	top: $navbar-height;
	position: fixed;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

/* Remove arrows/spinners from number-type inputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}
